CPL/bin/com/	
CPL/bin/util/
JavaSmellDetectionCaller/bin
Java Parser/bin/common/
Java Parser/bin/parser/
PADL Creator ClassFile/bin/padl/
PADL/bin/padl/
Ptidej/bin/ptidej/
CPL/bin/com/
SAD/bin/
PADL Analyses/bin/
PADL Creator JavaFile (Eclipse)/bin/
PADL Design Motifs/bin/
PADL Statements Creator ClassFile/bin/
PADL Statements/bin/
POM/bin/
PADL Creator C++ (Eclipse)/bin/
